<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250681023814-bs0p3gof2r6akttvhmej0ci1pupcu46m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250681023814-bs0p3gof2r6akttvhmej0ci1pupcu46m</string>
	<key>API_KEY</key>
	<string>AIzaSyBVAP-Kie-tNff9GcudxBNiCGk6splb9Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>250681023814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyohei.MailLinkAuth-Sample</string>
	<key>PROJECT_ID</key>
	<string>maillinkauth-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>maillinkauth-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250681023814:ios:ee0f59481621c5a9fb5947</string>
</dict>
</plist>